<%= render 'users/search_form.html.erb' %>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Users</h5>
        <!-- Dark Table -->
        <table class="table table-dark">
            <thead>
                <tr>
                <th scope="col"><%= sort_link(@search, :name,"Name" ,default_order: :asc)%></th>
                <th scope="col"><%= sort_link(@search, :email,"email" ,default_order: :asc)%></th>
                </tr>
            </thead>
            <tbody>
            <% if @users.empty? %>
                <tr>
                <td><%="Name not found" %></td>
                <td><%= "Email not found" %></td>
                </tr>
            <% else %>
                <% @users.each do |user|%>
                    <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    </tr>
                <% end %>
            <% end %>
            </tbody>
        </table>
        <!-- End Dark Table -->
    </div>
</div>