<!DOCTYPE html>
<html>
  <head>
    <title>Searches</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <head>
      <% if user_signed_in? %>
        <%= render 'layouts/partials/header'%>
      <% end %>
      <%= render 'layouts/partials/notifications' %>
    </head>
    <main class="main">
     <div class="container">
        <section class=" section  d-flex flex-column align-items-center justify-content-center ">
          <div class="container">
              <div class="justify-content-center">
                  <%=yield%>
              </div>
          </div>
        </section>
    </div>
    </main>
  </body>
</html>
